# Ignore JetBrains IDE settings
.idea/

# Ignore Visual Studio settings
.vs/

# Ignore build results
bin/
obj/

# User-specific files
*.user
*.suo

# Backup & log files
*.log
*.bak
*.swp

# Other IDE-specific files
*.ncb
*.opendb
*.VC.db